<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Your Survey</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

  <!-- Navbar -->
    <div class="w3-bar w3-gray w3-card w3-left-align w3-large">
  
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-gray" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-gray">Home</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-gray">About Us</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-gray">Your Rights</a>
  
    </div>
  
  
    <div class="w3-padding-large">
  
   <div class="w3-row-padding w3-padding-16 w3-center">
  
    <div class="w3-third w3-left-align w3-padding-16">
        <img id='logo' src="/static/images/avditech.png" width='200px'/>
    </div>
    <br/>
    <div class="w3-two-third w3-padding-16">
        <h1 id='categoria' class="w3-text-grey w3-padding-16">Categoria 1
    </div>

    <span class="dot fill"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  
    {{message}}
  
    <form action="http://localhost:5000/" id="cat1_survey_page" method="POST">

      <div class="w3-row-padding w3-padding-16 w3-center">

        <H3>Informações de indentificação:</H3>
  
        <div class="w3-row-padding w3-padding-16 w3-center">
          <div class="w3-half w3-left-align w3-padding-16">
            <label for="first_name"><b><font style="font-size: large;">Nome do examinador:</font></b><label><br>
            <input type="text" name="nome_examinador" value="{{nome_examinador}}" required>
          </div>
  
          <div class="w3-half w3-left-align">
            <label for="last_name"><b><font style="font-size: large;">Nome do avaliado:</font></b></label><br>
            <input type="text" name="nome_avaliado" value="{{nome_avaliado}}" required>
          </div>
        </div>
  
  
        <div class="w3-row-padding w3-padding-16 w3-center">
          <div class="w3-half w3-left-align w3-padding-16">
          <label for="email"><b><font style="font-size: large;">Email do examinador:</font></b></label><br>
          <input type="email" name="email" value="{{email}}">
        </div>
  
  
        <div class="w3-row-padding w3-padding-16 w3-center">
          <div class="w3-half w3-left-align w3-padding-16">
            <label for="genero"><b><font style="font-size: large;">Genêro do examinador:</font></b></label><br>
            <input type="radio" name="genero" value="Feminino"> Feminino</input><br>
            <input type="radio" name="genero" value="Masculino"> Masculino</input><br>
            <input type="radio" name="genero" value="Outro"> Outro</input>
          </div>
        </div>
  

        <H3>Sobre o desempenho do avaliado:</H3>
        
        <div class="w3-row-padding w3-padding-16 w3-center">
          <div class="w3-padding-large">
            <label for="text"><b>Pergunta 1.1 - <font style="font-size: large;">Conseguiu entregar tarefas no prazo e do orçamento estabelecido:</font></b></label><BR>
            <textarea name="pergunta_1_1" rows="4" cols="30">{{pergunta_1_1}}
            </textarea>
          </div>
        
          <div class="w3-half w3-left-align w3-padding-16">
            <label for="aval_1_1"><b><font style="font-size: large;">Avaliação:</font></b></label><br>
            <input type="radio" name="aval_1_1" value="1"> 1</input><br>
            <input type="radio" name="aval_1_1" value="2"> 2</input><br>
            <input type="radio" name="aval_1_1" value="3"> 3</input><br>
            <input type="radio" name="aval_1_1" value="4"> 4</input><br>
            <input type="radio" name="aval_1_1" value="5"> 5</input><br>
            <input type="radio" name="aval_1_1" value="6"> 6</input><br>
            <input type="radio" name="aval_1_1" value="7"> 7</input><br>
            <input type="radio" name="aval_1_1" value="8"> 8</input><br>
            <input type="radio" name="aval_1_1" value="9"> 9</input><br>
            <input type="radio" name="aval_1_1" value="10"> 10</input>
          </div>
        </div>

        <div class="w3-row-padding w3-padding-16 w3-center">
          <div class="w3-padding-large">
            <label for="text"><b>Pergunta 1.2 - <font style="font-size: large;">Todas as tarefas realizadas foram de qualidade competente:</font></b></label><BR>
            <textarea name="pergunta_1_2" rows="4" cols="30">{{pergunta_1_2}}
            </textarea>
          </div>
        
          <div class="w3-half w3-left-align w3-padding-16">
            <label for="aval_1_2"><b><font style="font-size: large;">Avaliação:</font></b></label><br>
            <input type="radio" name="aval_1_2" value="1"> 1</input><br>
            <input type="radio" name="aval_1_2" value="2"> 2</input><br>
            <input type="radio" name="aval_1_2" value="3"> 3</input><br>
            <input type="radio" name="aval_1_2" value="4"> 4</input><br>
            <input type="radio" name="aval_1_2" value="5"> 5</input><br>
            <input type="radio" name="aval_1_2" value="6"> 6</input><br>
            <input type="radio" name="aval_1_2" value="7"> 7</input><br>
            <input type="radio" name="aval_1_2" value="8"> 8</input><br>
            <input type="radio" name="aval_1_2" value="9"> 9</input><br>
            <input type="radio" name="aval_1_2" value="10"> 10</input>
          </div>
        </div>

  
        <div class="w3-row-padding w3-padding-16 w3-center">
          <input type="submit" id="para_cat_to_2" value="Para categoria 2" name="Para categoria 2" 
          class="w3-button w3-gray w3-padding-large w3-large w3-margin-top">
        </div>

      </div>

    </form>
  
  </div>
  
  
  <footer class="w3-container w3-gray w3-center w3-margin-top">
  
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
  
  </body>
</html>