<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Your Survey</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style2.css') }}">

</head>
<body>

<!-- Navbar -->

  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">

    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="logo-image">
      <img src="/static/images/avditech.png" class="img-fluid">
</div>
<!--
<a href="c{ url_for(survey_page) }}" class="w3-bar-item w3-button w3-padding-large w3-blue">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-blue">About Us</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-blue">Your Rights</a>
-->    


   </div >


            <h1>Sobre o comportamento do avaliado:</h1>

                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                                    
              <!-- Create Form -->
              {{message}}                                 
    <form action="http://localhost:5000/cat2" id="cat2" method="POST">
                                  
                                          <!-- Details -->
                                  <div class="form-control">
                                      <label for="name" id="label-name">
                                        Manteve sua postura a respeito de sua assiduidade e forma de expressão no ambiente de trabalho.
                                        <input type="text" name="cat2_p1" value="{{cat2_p1}}" required>
                                      </label>

              
                          <!-- Input Type Radio Button -->
                          <div class="w3-half w3-left-align w3-padding-16">
                            <label for="aval_2_1"><b><font style="font-size: large;">Avaliação:</font></b></label><br>
                            <input type="radio" name="aval_2_1" value="1"> 1</input><br>
                            <input type="radio" name="aval_2_1" value="2"> 2</input><br>
                            <input type="radio" name="aval_2_1" value="3"> 3</input><br>
                            <input type="radio" name="aval_2_1" value="4"> 4</input><br>
                            <input type="radio" name="aval_2_1" value="5"> 5</input><br>
                            <input type="radio" name="aval_2_1" value="6"> 6</input><br>
                            <input type="radio" name="aval_2_1" value="7"> 7</input><br>
                            <input type="radio" name="aval_2_1" value="8"> 8</input><br>
                            <input type="radio" name="aval_2_1" value="9"> 9</input><br>
                            <input type="radio" name="aval_2_1" value="10"> 10</input>
                          </div>
                              <div class="form-control"></div>
                              <label for="comment">
                                Comentários e sugestões
                              </label>
                    
                              <!-- multi-line text input control -->
                              <textarea name="comment" id="comment"
                                  placeholder="Enter your comment here">
                              </textarea>
                          </div>
                        </div>

                      
                    
          </div>
  
     

        <div class="form-control">
            <label for="email" id="label-email">
              Manteve o foco mesmo em momentos de tensão, situações complexas ou falta de flexibilidade nos prazos.

            </label>
                <!-- Input Type Radio Button -->
                <div class="w3-half w3-left-align w3-padding-16">
                  <label for="aval_2_2"><b><font style="font-size: large;">Avaliação:</font></b></label><br>
                  <input type="radio" name="aval_2_2" value="1"> 1</input><br>
                  <input type="radio" name="aval_2_2" value="2"> 2</input><br>
                  <input type="radio" name="aval_2_2" value="3"> 3</input><br>
                  <input type="radio" name="aval_2_2" value="4"> 4</input><br>
                  <input type="radio" name="aval_2_2" value="5"> 5</input><br>
                  <input type="radio" name="aval_2_2" value="6"> 6</input><br>
                  <input type="radio" name="aval_2_2" value="7"> 7</input><br>
                  <input type="radio" name="aval_2_2" value="8"> 8</input><br>
                  <input type="radio" name="aval_2_2" value="9"> 9</input><br>
                  <input type="radio" name="aval_2_2" value="10"> 10</input>
                </div>
              </div>

            <div class="form-control">
              <label for="comment">
                 Comentários e sugestões
              </label>
    
              <!-- multi-line text input control -->
              <textarea name="comment" id="comment"
                  placeholder="Enter your comment here">
              </textarea>
          </div>
        </div>
  

        
        <div class="form-control">
            <label for="age" id="label-age">
              Mostrou-se flexível e interessado ao enfrentar e aprender a lidar com situações fora do padrão.
            </label>
                <!-- Input Type Radio Button -->
                <div class="w3-half w3-left-align w3-padding-16">
                  <label for="aval_2_3"><b><font style="font-size: large;">Avaliação:</font></b></label><br>
                  <input type="radio" name="aval_2_3" value="1"> 1</input><br>
                  <input type="radio" name="aval_2_3" value="2"> 2</input><br>
                  <input type="radio" name="aval_2_3" value="3"> 3</input><br>
                  <input type="radio" name="aval_2_3" value="4"> 4</input><br>
                  <input type="radio" name="aval_2_3" value="5"> 5</input><br>
                  <input type="radio" name="aval_2_3" value="6"> 6</input><br>
                  <input type="radio" name="aval_2_3" value="7"> 7</input><br>
                  <input type="radio" name="aval_2_3" value="8"> 8</input><br>
                  <input type="radio" name="aval_2_3" value="9"> 9</input><br>
                  <input type="radio" name="aval_2_3" value="10"> 10</input>
                </div>
              </div>

            <div class="form-control">
              <label for="comment">
                 Comentários e sugestões
              </label>
    
              <!-- multi-line text input control -->
              <textarea name="comment" id="comment"
                  placeholder="Enter your comment here">
              </textarea>
          </div>
        </div>
  
      <!-- Multi-line Text Input Control -->
      <div class="w3-row-padding w3-padding-16 w3-center">
        <input type="submit" name="action" value='Para categoria 3' 
        class="w3-button w3-gray w3-padding-large w3-large w3-margin-top">
      </div>

            </label>
              <!-- Input Type Radio Button -->
              <div class="w3-half w3-left-align w3-padding-16">
                <label for="aval_2_4"><b><font style="font-size: large;">Avaliação:</font></b></label><br>
                <input type="radio" name="aval_2_4" value="1"> 1</input><br>
                <input type="radio" name="aval_2_4" value="2"> 2</input><br>
                <input type="radio" name="aval_2_4" value="3"> 3</input><br>
                <input type="radio" name="aval_2_4" value="4"> 4</input><br>
                <input type="radio" name="aval_2_4" value="5"> 5</input><br>
                <input type="radio" name="aval_2_4" value="6"> 6</input><br>
                <input type="radio" name="aval_2_4" value="7"> 7</input><br>
                <input type="radio" name="aval_2_4" value="8"> 8</input><br>
                <input type="radio" name="aval_2_4" value="9"> 9</input><br>
                <input type="radio" name="aval_2_4" value="10"> 10</input>
              </div>
      </div>

            <div class="form-control">
              <label for="comment">
                 Comentários e sugestões
              </label>
    
              <!-- multi-line text input control -->
              <textarea name="comment" id="comment"
                  placeholder="Enter your comment here">
              </textarea>
          </div>
        </div>
  
        <div class="form-control">
            <label>
              Mostrou resultados coerentes com os previamente planejados.
            </label>
 
            <!-- Input Type Radio Button -->
            <div class="w3-half w3-left-align w3-padding-16">
              <label for="aval_2_5"><b><font style="font-size: large;">Avaliação:</font></b></label><br>
              <input type="radio" name="aval_2_5" value="1"> 1</input><br>
              <input type="radio" name="aval_2_5" value="2"> 2</input><br>
              <input type="radio" name="aval_2_5" value="3"> 3</input><br>
              <input type="radio" name="aval_2_5" value="4"> 4</input><br>
              <input type="radio" name="aval_2_5" value="5"> 5</input><br>
              <input type="radio" name="aval_2_5" value="6"> 6</input><br>
              <input type="radio" name="aval_2_5" value="7"> 7</input><br>
              <input type="radio" name="aval_2_5" value="8"> 8</input><br>
              <input type="radio" name="aval_2_5" value="9"> 9</input><br>
              <input type="radio" name="aval_2_5" value="10"> 10</input>
            </div>

        </div>
  
        
  
        <div class="form-control">
            <label for="comment">
                Comentários e sugestões
            </label>
 
            <!-- multi-line text input control -->
            <textarea name="comment" id="comment"
                placeholder="Enter your comment here">
            </textarea>
        </div>
  
        <!-- Multi-line Text Input Control -->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <input type="submit" name="action" value='Para categoria 3' 
    class="w3-button w3-gray w3-padding-large w3-large w3-margin-top">
  </div>


  <div class="w3-row-padding w3-padding-16 w3-center">
    <input type="submit" name="action" value='Para categoria 1' 
    class="w3-button w3-gray w3-padding-large w3-large w3-margin-top">
  </div>
    
    </form>

<footer class="w3-container w3-teal w3-center w3-margin-top">

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>